{% extends 'layout.html' %}
{% block body %}


  <div class="container" style="align-items: center;margin:  auto; justify-content:center;">
    
    <h4 style="color: #992621;"><b>Advanced Search</b></h4>
    

    <form style="margin-top: 2vh;" method='POST' action='{{url_for('newreport')}}' >
      {{form.hidden_tag()}}
       <div class="row" style="text-align: center; justify-content: center; margin: auto;">
        <div class="col-3" >
          <label for="inputPassword2" type='search' name='searched' class="visually-hidden">School</label>
          <input type="text" class="form-control"  name='searched' id="inputPassword2" placeholder="Year Completed">
        </div>
        
        <div class="col-3">
            <label for="inputPassword2" name='searched' class="visually-hidden">Index Number</label>
            <input type="text" class="form-control" id="inputPassword2" placeholder="Index Number">
        </div>
        <div class="col-3">
            <label for="inputPassword2"  name='searched'class="visually-hidden">Faculty/School</label>
            <input type="text" class="form-control" id="inputPassword2" placeholder="Faculty/School">
        </div>
        <div class="col-3">
            <label for="inputPassword2"name='searched' class="visually-hidden">Department</label>
            <input type="text" class="form-control" id="inputPassword2" placeholder="Department">
        </div> 
        <div class="row" style="margin-top: 3vh;">
          <div class="col-auto" >
            <button type="submit" class="btn btn-light" style="background: #992621; color: #fff;">Search</button>
          </div> 
        </div>  
        </div>
    </form>

    

  </div>
      <div style="display: flex; justify-content: space-between; margin: 10px 12px 0 12px; margin-top: 3vh;"> 
          <h4 style="color: #992621;  text-align: center;"><b>Results</b></h4>
          <button type="button" class="btn" style="background: #992621; color: #fff;"> Print</button>
      </div>  
        <div class="container" style="background: #f2f2f2f2;" data-aos="fade-up" data-aos-duration="3000">
        <br>
          <div class="dashboard-item" >
            <table class="table">
              {% for post in posts %}
                <thead style="text-align: center; color: #992621;">
                <tr >
                    <th scope="col">Full Name</th>
                    <th scope="col">Index Number</th>
                    <th scope="col">Year Completed</th>
                    <th scope="col">Department</th>
                    <th scope="col-1">View</th>
                </tr>
                </thead>
                <tbody style="text-align: center;">
                <tr>
                    <td scope="row">{{post.fullname}}</th>
                    <td>{{post.indexnumber}}</td>
                    <td>{{post.completed}}</td>
                    <td>{{post.department}}</td>
                    <td>
                      <a href="" class="table-#" style="height: 4vh; border-radius: 5px; width: 2vw; align-items: center; color: black;" >
                        <i class='bx bxs-show bx-border icon'></i>
                      </a>
                    </td>
                </tr>
               
                </tbody>
                {% endfor %}  
            </table>
          </div>
        </div>

            

  </div>

  {% endblock body %}