{% extends 'layout.html' %}

{% block body %}


<div class="col-md" style=" background: #fff; border-radius: 5px; padding: 20px;">
    <div class="top">
      <h4><b>Hi {{profile.fullname}}</b> </h4>
    </div>
    <div class="down" style=" display: flex; grid-gap: 2px; justify-content: space-between;">
      <h6 style="color: black;">{{profile.email}}</h6>
      <div class="icons" style="color: black;">
          <i class='bx bx-bell bx-sm icon' ></i>
          <i class='bx bx-message-dots bx-sm icon' ></i>
      </div>
      
    </div>
    <div class="info" style="margin-top: 2vh; text-align: center;">
      <div class="info-pic">
        {% if profile.image_file %}
          {{profile.image_file}}
          {% else %}
          <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" style="  width: 20%; background: #992621; border-radius: 70%;" > 
        {% endif %}
             
      </div>
      <a href="/update/{{profile.id}}" style="text-decoration: none;">Edit </i></a>
      
      <div class="info-details" style=" margin-top: 2vh;">
        <h4><b> {{profile.fullname}}</b></h4>
        <h6 style="color: black;">Alumni </h6>
      </div>

      
    </div>
      <hr>
      
    <div class="info-more">
      <div class="row">
          <div class="col">
            <h6 class="text-muted">Full Name </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.fullname}}</h4>
          </div>
          <div class="col">
            <h6 class="text-muted">Marital Status </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.marital}}</h4>
          </div>
      </div>
    </div>
      
  
    <div class="info-more">
      <div class="row">
          <div class="col">
            <h6 class="text-muted">Index Number </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.indexnumber}}</h4>
          </div>
      </div>
    </div>
    <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Telephone </h6>
              <h4 style="color: black; margin-bottom: 0;">{{profile.telephone}}</h4>
            </div>
            <div class="col">
                <h6 class="text-muted">Gender </h6>
                <h4 style="color: black; margin-bottom: 0;">{{profile.gender}}</h4>
              </div>
        </div>
      </div>
    
   
    <div class="info-more">
      <div class="row">
          <div class="col">
            <h6 class="text-muted">School / Faculty </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.school}}</h4>
          </div>
          <div class="col">
            <h6 class="text-muted">Department </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.department}}</h4>
          </div>
      </div>
    </div>
    
    <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Program</h6>
              <h4 style="color: black; margin-bottom: 0;">{{profile.program}}</h4>
            </div>
        </div>
      </div>
    
    <div class="info-more">
      <div class="row">
          <div class="col">
            <h6 class="text-muted">Telephone </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.telephone}}</h4>
          </div>
          <div class="col">
            <h6 class="text-muted">Hall of Residence </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.hall}}</h4>
          </div>
      </div>
    </div>
    <div class="info-more">
      <div class="row">
          <div class="col">
            <h6 class="text-muted">Nationality </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.nationality}}</h4>
          </div>
          
         
      </div>
    </div>
    <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Year Admitted </h6>
              <h4 style="color: black; margin-bottom: 0;">{{profile.admitted}}</h4>
            </div>
            <div class="col">
                <h6 class="text-muted">Year Completed </h6>
                <h4 style="color: black; margin-bottom: 0;">{{profile.completed}}</h4>
              </div>
        </div>
      </div>
    <div class="info-more">
      <div class="row">
          <div class="col">
            <h6 class="text-muted">Home Address </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.address}}</h4>
          </div>
      </div>
    </div>
    <div class="info-more">
      <div class="row">
          <div class="col">
            <h6 class="text-muted">Current Place of Work </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.work}}</h4>
          </div>
          <div class="col">
            <h6 class="text-muted">Position </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.guardian}}</h4>
          </div>
      </div>
      </div>
    </div>
  
   
    <div class="info-more">
      <div class="row">
          <div class="col">
            <h6 class="text-muted">Picture </h6>
            <img style="width: 100%; margin-bottom: 10px; margin: auto;" src="{{profile.image_file}}">
            <h4 style="color: black; margin-bottom: 0;">{{profile.image_file}}</h4>
          </div>
      </div>
    </div>
  
    
</div>





  

  
{% endblock body %}


