@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #e5e4e2;
    
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/*----Navbar-----*/
#content {
    position: fixed;
    width: 100%;
}
nav {
    background: white;
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    margin-left: 260px;
}

#content .toggle-sidebar {
    font-size: 30px;
    cursor: pointer;
}

nav form {
    max-width: 800px;
    width: 100%;
    margin-right: auto;
    display: flex;
}
nav .form-group {
    position: relative;
}
.showNavToggle {
    display: block  !important;
}
nav .form-group input {
    width: 100%;
    background: #e5e4e2;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all .3s ease;
    padding: 10px 36px 10px 16px;
}
nav .form-group input:focus {
    box-shadow: 0 0 0 1px #992621;
}
nav .form-group a {
    font-size: 17px; 
    background-color: #992621; 
    color: white;
    padding: 6px 0 0 8px;
    margin: 0 0 0 5px;
    border-radius: 3px;
    width: 10%;
    height: 35px;
}
nav .nav-link {
    position: relative;
}
nav .nav-link .icon {
    font-size: 30px;
    color: #992621;
}
nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #992621;
    font-size: 10px;
    font-weight: 700;
}

nav .dividers {
    width: 1px;
    background: #e5e4e2;
    height: 6px;
    display: block;
}
nav .nav-profile {
    position: relative;
}
nav .nav-profile img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    
}
nav .nav-profile .profile-link {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: #e5e4e2;
    padding: 10px 0;
    box-shadow: 4px 4px 16px;
    border-radius: 10px;
    width: 160px;
    
}

nav .nav-profile .profile-link a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 10px;
    font-size: 14px;
    color: #992621;
    align-items: center;
}



/* --- aside ----*/



aside {
    height: 100vh;
    background: #e5e4e2;
    
}
#sidebar {
    position: fixed;
    width: 260px;
    background: white;
    top: 0;
    left: 0;
    height: 100%;
}
#sidebar img {
    width: 65%;
    margin: 4px 0 0 35px;
}

#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar .side-menu {
    margin: 20px 0;
    padding: 0 20px;
}
#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #992621;
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
    grid-gap: 6px;
}
#sidebar .side-menu a.active {
    background: #992621;
    color: #fff;
}
#sidebar .side-menu a.active:before {
    width: 5px;
    height: 100%;
    position: absolute;
    background: #fff;
}
#sidebar .side-menu a:hover {
    color: black;
    margin-left: 2rem;
    
}



#sidebar .divider {
    margin-top: 24px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #800000;
}




#sidebar .side-dropdown-none {
    display: none;
}

#sidebar .side-dropdown {
    padding-left: 48px;
    display: none;
    /* max-height: 0; */
    /* overflow-y: hidden; */
    transition: all .15s ease;
}

#sidebar .side-dropdown2 {
    display: block;
    padding-left: 48px;
    /* max-height: 0; */
    transition: all .15s ease;
}
#sidebar .side-dropdown .show {
    max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
    color: blue;
}

#sidebar .ads {
    width: 100%;
    padding: 20px;
}
#sidebar .ads .wrapper {
    background: #992621;
    padding: 20px;
    border-radius: 10px;
}
#sidebar .ads .wrapper .top {
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar .ads .wrapper h4 {
    color: white;
    font-size: 14px;
    margin: 0 40px 0px 40px;
}




/* ---- profile ---*/
#sidebar .profile-details {
    
    bottom: 0;
    background: #992621;
    margin: 0px 20px 40px 20px;
    border-radius: 10px;
    padding: 0 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 5px 14px 0 8px;
    
    padding: 5px;
}
#sidebar .profile-details .profile-name {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
#sidebar .profile-details .title {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}
#sidebar .profile-details .icon {
    color: #fff;
}




/*----- Middle ---*/

.content{
    width: 50%;

    margin-left: 300px;
    padding-top: 100px;
}
.content h1 {
    
    color: #992621;
}
.content .inner-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    margin: 15px 0 0 0 ;
    
    
}
.inner-content img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 13px;
    margin: 10px 10px 0 10px; 
    padding: 5px;
}

.content .inner-content .cards {
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin: 30px 0 0 80px;
    height: 100%;
    width: 90%;
}
.content .inner-content .cards .card {
    margin: 10px 0 0 10px;
    color: white;
}
.content .inner-content .cards .card h4 {
    font-size: 13px;
    color: #992621;
    margin-bottom: 15px;
}
.content .inner-content .cards .card h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #992621;
}



/* ---- Form Middle -----*/
.middle{
    margin: 5px 20px 0 60px;
    border-radius: 20px;
    width: 140%;
    height: auto;
    background: #fff;
    padding: 8px;
    
}
.middle form {
    padding: 6px;
}

.middle .form-groups input {
    margin: 6px;
    width: 47%;
    background: #e5e4e2;
    
    border: none;
    outline: none;
    transition: all .3s ease;
    padding: 10px 36px 10px 16px;
}
.middle .form-groups input:focus {
    box-shadow: 0 0 0 1px #992621;
}

.input-group{
    margin-bottom: 15px;
    
}
input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    outline: 0;
    border: 1px solid #992621;
    color: blueblack;
    background: transparent;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    color: #992621;
    border: 1px solid #992621;
    border-radius: 40px;
    box-sizing: border-box;
}



input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;

}

.row .input-group{
    flex-basis: 48%;

}

.row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row1 .input-group{
    flex-basis: 23%;

}

.row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row2 .input-group{
    flex-basis: 48%;

}

.row3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row3 .input-group{
    flex-basis: 48%;

}

.row4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row4 .input-group{
    flex-basis: 33%;

}

.row5{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row5 .input-group{
    flex-basis: 23%;

}

.row6{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row6 .input-group{
    flex-basis: 48%;

}

.row7{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row7 .input-group{
    flex-basis: 100%;

}

.row8{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle form button {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	max-width: 200px;
	width: 100%;
	border: none;
	outline: none;
	color: #fff;
	border-radius: 5px;
	margin: 13px 0 0 5px;
	background-color: #992621;
	transition: all 0.3s linear;
	cursor: pointer;
}



/* ---- Report ----*/
.chart{
	margin: 50px 20px 50px 20px;
	width: 1000px;
	height: 500px;
    
}

/* ---- table ---*/
.table-middle {
    margin: 5px 10px 0 20px ;
    border-radius: 20px;
    width: 140%;
    height: 600px;
    background: #fff;
    padding: 0 3%;
}

.table-head {
    font-size: 25px;
    text-align: left;
    color: #992621;
    padding: 5px 0 0 5px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.table {
    width: 100%;
    border-collapse: collapse;
    
}
.table thead {
    background: #992621;
   
}
.table thead tr th {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #fff;
    padding: 12px;
    opacity: 1;
    vertical-align: top;
    border: 1px solid #e5e4e2;
}
.table tbody tr td {
    font-size: 16px;
    letter-spacing: 0.35px;
    font-weight: 900;
    color: #992621;
    background: white;
    padding: 12px;
    text-align: center;
    border: 1px solid #e5e4e2;
}
.table tbody tr td .btn {
    width: 90px;
    text-decoration: none;
    line-height: 30px;
    display: inline-block;
    background: #992621;
    color: #fff;
    font-weight: medium;
    vertical-align: center;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}
.table-middle button {
   
	align-items: center;
	justify-content: center;
	height: 40px;
	max-width: 130px;
	width: 100%;
	border: none;
	outline: none;
	color: #fff;
	border-radius: 5px;
	margin: 8px 0 0 0;
	background-color: #992621;
	transition: all 0.3s linear;
	cursor: pointer;
}
.table-middle .text-center {
    text-align: center;
  }

