.col-md-6{
  margin-left: 100px;
}
.inputBox{
    margin-top: 5px;
}
.btn:hover{
  background: #fff;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    /* float: left; */
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .img{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .img{
    background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .img{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(3):hover .img{
    background: #E1306C;
  }
  .wrapper .button:nth-child(4):hover .img{
    background: #333;
  }
  .wrapper .button:nth-child(5):hover .img{
    background: #ff0000;
  }
  .wrapper .button .img i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .img i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .wrapper .button:nth-child(3) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(4) span{
    color: #333;
  }
  .wrapper .button:nth-child(5) span{
    color: #ff0000;
  }
 
@media (min-width: 576px) { 
   .row{
    background: #1DA1F2;
   }
 }


@media (min-width: 768px) { 
  .row{
    background: #1DA1F2;
   }
 }


@media (min-width: 992px) { 
  .row{
    background: #1DA1F2;
   }
 }


@media (min-width: 1200px) { 
  .row{
    background: #1DA1F2;
   }
}


@media (min-width: 1400px) { 
  .row{
    background: #1DA1F2;
   }
 }
