body {
    background: #f2f2f2;
}
.side-nav-button {
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
    color: #992621;
    display: flex;
    align-items: center;
}
h1 {
    color: black;
}
h4 {
    color: black;
}
.side-nav-button-text{
    margin: 0;
    padding-left: 10px;
}
.side-nav-button-active {
    padding: 20px;
    background-color: #992621;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
}
.side-nav-button a {
    text-decoration: none;
    color: #992621;
}
.side-nav-button a:hover {
    color: #992621;
}
.side-nav-button-active a {
    text-decoration: none;
    color: #fff;
}
.side-nav-button-active a:hover {
    color: #fff;
}

.spaceout{
    justify-content: space-between;
    display: flex;
}
.dashboard-item {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    color: #fff;
    margin: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 5vh;
    justify-content: space-between;
}
.department-item {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    color: #fff;
    margin: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 5vh;
    justify-content: space-between;
}

.department-item-active {
    background-color: #992621;
    padding: 30px;
    border-radius: 15px;
    color: #fff;
    margin: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 5vh;
    justify-content: space-between;
}


.dashboard-item-text{
    margin-top: 0;
    color: #992621;
    
}

.profile-details {
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    
   
    
}

.elipse img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.profile-name {
    color: #992621;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}
.title {
    font-size: 12px;
    color: #992621;
    font-weight: 400;
}
.school-item {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    color: #fff;
    margin: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10vh;
}
.names {
    text-transform: uppercase;
    color: black;
}
.names-active {
    text-transform: uppercase;
    color: #fff;
}
.info-more {
    margin-bottom: 3vh;
    
}


.form-floating:focus {
    color: grey;
}

.user-box {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 5vh;
    justify-content: space-between;
    
}
.user-box-items {
    color: black;
}

.user-pic img {
    width: 70px; 
    height: 70px;
}
.user-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}
.user-profile-text {
    margin-bottom: 2vh;
}



.form-floating:focus {
    color: grey;
}

.user-box {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 5vh;
    justify-content: space-between;
    
}
.user-box-items {
    color: black;
}

.user-pic img {
    width: 70px; 
    height: 70px;
}
.user-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}
.user-profile-text {
    margin-bottom: 2vh;
}

.info-pic{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    text-align: center;
}
