{% extends 'layout.html' %}
{% block body %}



<h4>Add a New Program</h4>
<p class="text-muted" style="margin-bottom: 0;">Please fill in this form :</p>
<br>
<form action='' method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}


  <div class="form-floating mb-3" >
    {{form.name(class="form-control",placeholder="addschool",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Add Program</label>
  </div>

  <button class="btn" style="color: #fff; background: #992621; border: none;" type="submit" id="submitButton">Register</button>
    <br><br>
  {% for program in programs %}
  <a href="/department" class="col-md-4" style="text-decoration: none;">
    <div class="dashboard-item" data-aos="flip-up" data-aos-delay="300" style="display: flex; padding: 35px;">
      <h6 style="color: #992621;">{{program.name}}</h6> 
      <img src="static/img/memoji.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;"> 
    </div>
  </a><br><br>
   
    {%endfor%}
</form>
  {%endblock body%}