{% extends 'layout.html' %}
{% block body %}

<h4><b>Departments</b></h4>
<br>


<div class="row" >
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="fade-up-right" >
        <h4 style="color: #992621;">COMPUTER SCIENCE & INFORMATION TECHNOLOGY</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="fade-down-left" data-aos-delay="300">
        <h4 style="color: #992621;">CIVIL ENGINEERING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="600">
        <h4 style="color: #992621;">NURSING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="fade-down-left" data-aos-delay="900">
        <h4 style="color: #992621;">PHYSICIAN ASSISTANSHIP</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="20" >
        <h4 style="color: #992621;">PUBLIC HEALTH</h4>
      </div>
    </a>
</div>

<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="30">
        <h4 style="color: #992621;">BANKING & FINANCE</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="40">
        <h4 style="color: #992621;">MANAGEMENT & PUBLIC ADMINSTARTION</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="50">
        <h4 style="color: #992621;">HUMAN RESOURCE MANAGEMENT</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="60">
        <h4 style="color: #992621;">ACCOUNTING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="70">
        <h4 style="color: #992621;">AGRIC-BUSINESS</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="80">
        <h4 style="color: #992621;">MARKETING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="90">
        <h4 style="color: #992621;">ARCHITECTURE</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="100">
        <h4 style="color: #992621;">REAL ESTATE</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="110">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="120">
        <h4 style="color: #992621;">DESIGN</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="130">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="140">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="150">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="160">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="170">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="180">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="190">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="200">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="210">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>
<div class="row" style="">
    <a href="/year" class="col-md-12" style="text-decoration: none;">
      <div class="department-item" data-aos="zoom-out-down" data-aos-delay="220">
        <h4 style="color: #992621;">PLANNING</h4>
      </div>
    </a>
</div>





{% endblock body %}




