{% extends 'base.html' %}
{%block div%}


<aside>
    <div id="sidebar">
      <img src="https://www.central.edu.gh/virgin/images/Central-Uni-logo.png" alt="">
      <ul class="side-menu">
        <li class="divider">Admin </li>
        <li><a href="/test" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
        <li>
          <a href="/schools"><i class='bx bxs-bar-chart-square icon'></i> Schools</a>
        </li>
        <li><a href="/information"><i class='bx bx-group icon' ></i> Members</a></li>
        <li>
          <a id="side-dropdown-list" onclick="toggleDropDown()"><i class='bx bxs-calendar icon' ></i> Year Groups <i class='bx bx-chevron-right' ></i></a>
          <ul id="side-dropdown-lists" class="side-dropdown-none">
            <li><a href="#"> Year - 2022</a></li>
          </ul>
        </li>
        
        <li class="divider">Shortcuts</li>
        <li><a href="/form" class="active"><i class='bx bx-add-to-queue icon' ></i> Add Alumni</a></li>
        <li><a href="/report" ><i class='bx bxs-report icon' ></i> Report</a></li>
       
      </ul>
      <div class="ads">
        <div class="wrapper">
          <div class="top">
            <h4>Storage</h4>
            <h4><a href="" style="color: blue;">Upgrade</a></h4>
          </div>
          <p style="font-size: 14px; color: white; margin: 8px 0 10px 0;">3.4 GB of 15 Gb</p>
          <div style="width: 100%; height: 4px; background-color: blue; border-radius: 5px">
            <div style="width: 60%; height: 4px; background-color: white; border-radius: 5px"></div>
          </div>
        </div>
      </div>
      <div class="profile-details">
        <div class="profile-content">
          <img src="https://www.shareicon.net/data/512x512/2016/05/24/770137_man_512x512.png" alt="profile">
        </div>
        
        <div class="name-job">
          <div class="profile-name"><strong>Softlife</strong> </div>
          <div class="title">Administrator</div>
        </div>
        <i class='bx bx-log-out bx-sm icon'></i>
      </div>
    </div>
   

{%endblock div%}
{% block body %}

        <div class="middle">
            <div class="middle-text">
                <h1 style="margin: 5px 0 6px 5px;">Create New Alumni. </h1>
              
            </div>
          
           
            <form action='' method="post" class="from-groups">
                {{form.hidden_tag()}}
               
              <div class="row">

                  <h5 style="color: #992621; margin-left: 5px; "> IDENTIFACATION NUMBER * </h5>
                  <div class="input-group">
                      {{form.id(class="input-group", placeholder="e.g: 20013037")}}
                   <label for="name"></label>
                  </div>   
                  <h5 style="color: #992621; margin-left: 5px; "> FULL NAME *</h5>
                     <div class="input-group">
                      {{form.name(class="input-group", placeholder="Full Name")}}
                      <label for="name"></label>
                    </div>
                     
              </div>

              <h5 style="color: #992621; margin-left: 5px; "> YEAR COMPLETED *</h5>
                  <div class="row">
                          <div class="input-group">
                              {{form.yearCompleted(class="input-group", placeholder="yearCompleted")}}
                                   <label for="gender"></label>
                          </div>
                         
                          <div class="input-group">
                            <h5 style="color: #992621; margin-left: 5px; "> NATIONALITY *</h5>
                              {{form.nationality(class="input-group", placeholder="e.g: Ghanaian")}}
                              <label for="name"></label>
                          </div>

                         
                          <div class="input-group">
                            <h5 style="color: #992621; margin-left: 5px; ">CONTACT *</h5>
                              {{form.contact(class="input-group", placeholder="e.g: 02xxxxxxxx")}}
                              <label for="name"></label>
                  </div>
                  </div>
                          


               
                  <div class="row">
                    
                    <h5 style="color: #992621; margin-left: 5px; "> E-MAIL *</h5>
                       <div class="input-group">
                        {{form.email(class="input-group", placeholder="e.g: someone@gmail.com")}}
                        <label for="name"></label>
                      </div>
                       
                      <h5 style="color: #992621; margin-left: 5px; "> FACULTY * </h5>
                      <div class="input-group">
                        {{form.faculty(class="input-group", placeholder="faculty")}}
                       <label for="name"></label>
                      </div>   
                      <h5 style="color: #992621; margin-left: 5px; "> HALL OF RESIDENCE *</h5>
                         <div class="input-group">
                          {{form.hallofresidence(class="input-group", placeholder="hallofresidence")}}
                          <label for="name"></label>
                        </div>
                         
                </div>





                <button  type="submit">
                    <span class="btnText">Register</span>
                    <i class='bx bxs-chevrons-right icon' style="margin-left: 10px;"></i>
               </button>
              </div>
               </div>
               
               
        
            </form>
        
        </div>




     
{% endblock body %}