{% extends 'base.html' %}
{% block body %}
     
        
        <div class="middle">
            <div class="middle-text">
                <h1 style="margin: 5px 0 6px 5px;">Create New Alumni. </h1>
                <h5 style="color: #992621; margin-left: 5px; "> Personal Details</h5>
            </div>
            
            <form action="" method="post" class="from-groups">
                {{form.hidden_tag()}}
                 
                <div class="row">
        
                    <div class="input-group">
                        {{form.lastname(class="input-group", placeholder="Lastname")}}
                     <label for="name"></label>
                    </div>   
                      
                       <div class="input-group">
                        {{form.Othername(class="input-group", placeholder="Othername")}}
                        <label for="name"></label>
                      </div>
                       
                </div>
        
                    <div class="row1">
                            <div class="input-group">
                                {{form.Gender(class="input-group", placeholder="Gender")}}
                                     <label for="gender"></label>
                            </div>
                            <div class="input-group">
                                        <input type="date" placeholder="Birth Date"  name="BirthDate">
                                        <label for="name"></label>   
                            </div>
                            <div class="input-group">
        
                                {{form.Primary(class="input-group", placeholder="Primary Contact")}}
                                <label for="name"></label>
                            </div>
                            <div class="input-group">
                                {{form.Other(class="input-group", placeholder="Other Contact")}}
                                <label for="name"></label>
                    </div>
                    </div>
                                    
               <div class="row3">
                       <div class="input-group">
                        {{form.Kin(class="input-group", placeholder="Next of Kin")}}
                        <label for="nxtkin"></label>
                       </div>
                       <div class="input-group">
                        {{form.Relationship(class="input-group", placeholder="Relationship With Next Of Kin")}}
                        <label for="R-nxtkin"></label>
                         </div> 
                </div>
        
                <div class="row4">
                     <div class="input-group">
                        {{form.Home(class="input-group", placeholder="Home Address")}}
                        <label for="name"></label>
                     </div>   
                     <div class="input-group">
                        {{form.Current(class="input-group", placeholder="Current Place Of Work")}}
                        <label for="place of work"></label>
                     </div>  
                     <div class="input-group">
                        {{form.Nationality(class="input-group", placeholder="Nationality")}}
                        <label for="name"></label>
                     </div>  
                </div>
        
                <div class="row5"> 
                     <div class="input-group">
                        {{form.Guardian(class="input-group", placeholder="Guardian")}}
                        <label for="name"></label>
                     </div>
        
                     <div class="input-group">
                        <label for="name"></label> 
                        <select id="">
                            
                          <option value="" disabled selected >Status</option>
                          <option value="dead">Dead</option>
                          <option value="alive">Alive</option>  
                        </select>
                      </div>
                      
                     <div class="input-group">
                        {{form.Year(class="input-group", placeholder="Year Joined")}}
                        <label for="name"></label>
                     </div>
                </div>
                <div class="row6">
                    <div class="input-group">
                        {{form.Marital(class="input-group", placeholder="Marital Status")}}
                        <label for="name"></label>
                    </div>  
                    <div class="input-group">
                        {{form.Health(class="input-group", placeholder="Health Status")}}
                        <label for="name"></label>
                    </div> 
                </div>  
                <div class="row7">
                    <div class="input-group">
                        {{form.Extra(class="input-group", placeholder="Extra Curicullum Activities")}}
                        <label for="name"></label>
                    </div>
                    <div>
                        {{form.Program}}
                    </div>
    
                </div> 

                
                 
                <!--Second form-->

                <div class="middle-text">
                    
                    <h5 style="color: #992621; margin: 2px 0 5px 5px; font-size: 16px;"> Year Group</h5>
                </div>

        
                    <div class="row1">
                        <div class="input-group" style="flex-basis: 28%;">
                            <label for="name"></label> 
                            <select id="">
                                
                              <option value="" disabled selected >Year </option>
                              <option value="alive">2022</option>
                              <option value="dead">2021</option>
                              <option value="alive">2020</option>
                              <option value="dead">2019</option>
                              <option value="dead">2018</option>
                            </select>
                        </div>
                            <div class="input-group">
                                        <input type="number" placeholder="Total Number"  name="total-number">
                                        <label for="name"></label>   
                            </div>
                            <div class="input-group">
        
                                <input type="number" placeholder="Student Admitted"  name="people-admitted">
                                <label for="name"></label>
                            </div>
                            <div class="input-group">
                                <input type="number" placeholder="Student Completed"  name="people-completed">
                                <label for="name"></label>
                            </div>
                        

                    </div>



                <div class="middle-text">
                        <h5 style="color: #992621; margin: 2px 0 5px 5px; font-size: 16px;"> Schools</h5>
                </div>      
                <div class="row5" > 
       
                    <div class="input-group" style="flex-basis: 65%;">
                       <label for="name"></label> 
                       <select id="">
                           
                         <option value="" disabled selected >Name of Schools</option>
                         <option value="dead">FACULTY OF LAW</option>
                         <option value="alive">FACULTY OF ARTS AND SOCIAL SCIENCES</option>  
                         <option value="dead">CENTRAL BUSINESS SCHOOL</option>
                         <option value="alive">SCHOOL OF PHARMACY</option>
                         <option value="dead">SCHOOL OF ARCHITECTURE AND DESIGN</option>
                         <option value="alive">SCHOOL OF ENGINEERING AND TECHNOLOGY</option>
                         <option value="dead">SCHOOL OF MEDICINE AND HEALTH SCIENCES</option>
                         
                       </select>
                     </div>
                       
                     <div class="input-group" style="flex-basis: 30%;">
                        <input type="number" placeholder="Total Number"  name="total-number">
                        <label for="name"></label>   
                    </div>

               </div>
                
                <div class="middle-text">
                    <h5 style="color: #992621; margin: 2px 0 5px 5px; font-size: 16px;"> Program</h5>
                </div> 

                <div class="row1">
                    <div class="input-group" style="flex-basis: 40%;">
                        <label for="name"></label> 
                        <select id="">
                            
                          <option value="" disabled selected >Program Name</option>
                          <option value="dead">Bachelor of Science in Economics</option>
                          <option value="alive">Bachelor of Arts in Environment and Development Studies</option>
                          <option value="dead">Bachelor of Arts in Communication Studies</option>
                          <option value="alive">Bachelor of Arts in Theology</option>
                          <option value="dead">Bachelor of Science in Psychology</option>
                          <option value="alive">Bachelor of Arts in Sociology</option>
                          <option value="dead">Bachelor of Arts in Social Work</option>
                          <option value="alive">Bachelor of Arts in French</option>
                          <option value="dead">Bachelor of Science in Management Studies</option>
                          <option value="alive">Bachelor of Science in Agribusiness</option>
                          <option value="dead">Bachelor of Science in Banking and Finance</option>
                          <option value="alive">Bachelor of Science in Business Administration with option in Marketing</option>
                          <option value="dead">Human Resource Management and Accounting</option>
                          <option value="alive">Doctor of Pharmacy</option>
                          <option value="dead">Bachelor of Architecture</option>
                          <option value="alive">Bachelor of Science in Planning</option>
                          <option value="dead">Bachelor of Science in Real Estate</option>
                          <option value="alive">Bachelor of Science in Graphic Design</option>
                          <option value="dead">Bachelor of Science in Fashion Design</option>
                          <option value="alive">Bachelor of Science in Landscape Design</option>
                          <option value="dead">Bachelor of Science in Interior Design</option>
                          <option value="alive">Bachelor of Science in Computer Science</option>
                          <option value="dead">Bachelor of Science in Civil Engineering</option>
                          <option value="alive">Bachelor of Science in Information Technology</option>
                          <option value="dead">Bachelor of Science in Nursing</option>
                          <option value="alive">Bachelor of Science in Physician Assistantship</option>
                          <option value="dead">Bachelor of Science in Public Health</option>
                           
                        </select>
                    </div>

                    <div class="input-group" style="flex-basis: 35%;">
                        <label for="name"></label> 
                        <select id="">
                            
                          <option value="" disabled selected >Program Department</option>
                          <option value="dead">Bachelor of Science in Economics</option>
                          <option value="alive">Bachelor of Arts in Environment and Development Studies</option>
                          <option value="dead">Bachelor of Arts in Communication Studies</option>
                          <option value="alive">Bachelor of Arts in Theology</option>
                          <option value="dead">Bachelor of Science in Psychology</option>
                          
                        </select>
                    </div>

                    <div class="input-group" style="flex-basis: 23%;">
                        <input type="text" placeholder="Program Code"  name="program-code">
                        <label for="name"></label>
                    </div>

                    


                </div>
                
                <button  type="submit">
                    <span class="btnText">Register</span>
                    <i class='bx bxs-chevrons-right icon' style="margin-left: 10px;"></i>
               </button>
                
               </div>
               
               
        
            </form>
        
        </div>




     
{% endblock body %}