




<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/land.css')}}">
    <link rel="stylesheet" href="style.css">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <div class="row" style="background: #992621; height: 70vh;width: auto; height: 75vh; padding: 0 90px 0px 10px">
                  <div class="container" style="width: 100%;">
                        
                        <div class="col">
                           <div style="display: flex; justify-content: space-between;">
                              <!-- <h6 class="card-title" style="color: white;">Central</h6> -->
                              <img src="{{ url_for('static', filename='img/Central-Uni-logo.png')}}" alt="" style="width: 15%; height:25%; margin-top: 15px; margin: bottom 5px;" >
                              <a href="userlogin" style="color: white; margin-right: -55px;margin-top:15px;" ><button class="btn" style="background: #fff; border-radius:50px; margin-top:30px;height:40px; box-shadow:0 2px 2px; ">Get started</button> </a>
                              <a href="login" style="color: white; margin-right: -55px;margin-top:15px;" ><button class="btn" style="background: #fff; border-radius:50px; margin-top:30px;height:40px; box-shadow:0 2px 2px; ">Admin</button> </a>
                                   
                           </div> 
                           <img src="{{ url_for('static', filename='img/mkk.png')}}" class="center"alt="" style="width: 6  0%; float:right; margin: bottom 5px;" >
                         
                           <br>
                           <br>
                         
                           
                           <h2 style="color: white;"> <strong> Welcome to the Central University<br>Alumni Platform <br></strong></h2> 
                              <p class="card-text" style="color: white;">We are so grateful to have had you with us.<br>Connect with your course mates on this platform </p>  
                              <div class="info-pic">
                                 <img src="{{ url_for('static', filename='img/qrcode.png')}}"  alt="" style="width: 16%; margin-top: 15px; justify-content:center;   place-items: center; margin: bottom 5px;" >
                              </div>  
                        </div>
                        
                  </div>
        </div>
         
        <div class="row" style="background: #fff;">
          <div class="card-body">
            <h4 style="text-align: center; margin-bottom:2vh;"><b>Our Trusted Payment Partners</b></h4>
            <div class="d-flex justify-content-evenly" style="text-align: center;justify-content:center; ">
            <div class="wrapper">
              <div class="button">
                 <div class="img">
                  <img src="{{ url_for('static', filename='img/visa.png')}}" style="width: 50%; border-radius:50%;">
                    
                 </div>
                 <span>Visa Card</span>
              </div>
              <div class="button">
                  <div class="img">
                     <img src="{{ url_for('static', filename='img/mastercard.png')}}" style="width: 50%; border-radius:50%;"> 
                     
                  </div>
                  <span>Master Card</span>
               </div>
               <div class="button">
                  <div class="img">
                     <img src="{{ url_for('static', filename='img/gpay.png')}}" style="width: 50%; border-radius:50%;">
                     
                  </div>
                  <span>Google Pay</span>
               </div>
               <div class="button">
                  <div class="img">
                     <img src="{{ url_for('static', filename='img/2000px-Apple_Pay.png')}}" style="width: 50%; border-radius:50%;">
                     
                  </div>
                  <span>Apple Pay</span>
               </div>
              </div>
          </div>
                    
       
                
           
          
      
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>