{% extends 'layout.html' %}
{% block body %}



<div class="row">
  <div class="col-md-8">
    <div class="department-item" data-aos="fade-down-left">
      <a href="" style="text-decoration: none; color: #992621;"><h4 class="names"><b> Steph Curry</h4></b></a>
      <h6 class="text-muted">Csc/19/01/3301</h6>
      <h4></h4>
    </div>
    <div class="department-item-active" data-aos="fade-up-right" data-aos-delay="200">
      <a href="" class="department-item-active-text" style="text-decoration: none; "><h4 class="names-active"><b> Lebron James</h4></b></a>
      <h6 style="color: #fff;">INT/19/01/5837</h6>
      <h4></h4>
    </div>
    <div class="department-item" data-aos="fade-down-left" data-aos-delay="400" >
      <a href="" style="text-decoration: none; color: #992621;"><h4 class="names"><b> Steph Curry</h4></b></a>
      <h6 class="text-muted">Csc/19/01/3301</h6>
      <h4></h4>
    </div>
    <div class="department-item" data-aos="zoom-out-down" data-aos-delay="600" >
      <a href="" style="text-decoration: none; color: #992621;"><h4 class="names"><b> Anthony Davis</h4></b></a>
      <h6 class="text-muted">Csc/19/01/2211</h6>
      <h4></h4>
    </div>
    <div class="department-item" data-aos="fade-up-right" >
      <a href="" style="text-decoration: none; color: #992621;"><h4 ><b> Chris Paul</h4></b></a>
      <h6 class="text-muted">INT/19/01/4190</h6>
      <h4></h4>
    </div>
  </div>



    <div class="col-md-4" style=" background: #fff; border-radius: 5px; padding: 20px;">
      <div class="top">
        <h4><b>Hi Lebron</b> </h4>
      </div>
      <div class="down" style=" display: flex; grid-gap: 2px; justify-content: space-between;">
        <h6 style="color: black;">Good Morning </h6>
        <div class="icons" style="color: black;">
            <i class='bx bx-bell bx-sm icon' ></i>
            <i class='bx bx-message-dots bx-sm icon' ></i>
        </div>
        
      </div>
      <div class="info" style="margin-top: 2vh; text-align: center;">
        <div class="info-pic">
          <img src="static/img/memoji.png" alt="" style="  width: 40%; background: #992621; border-radius: 50%;" > 
             
        </div>
        <a href="" style="text-decoration: none;">Edit Photo</a>  
        <div class="info-details" style=" margin-top: 2vh;">
          <h4><b> Lebron James</b></h4>
          <h6 style="color: black;">Alumni </h6>
        </div>

        
      </div>
        <hr>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Full Name </h6>
              <h4 style="color: black; margin-bottom: 0;">Lebron James</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Index Number </h6>
              <h4 style="color: black; margin-bottom: 0;">INT/19/01/5837</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Gender </h6>
              <h4 style="color: black; margin-bottom: 0;">Male</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Date of Birth </h6>
              <h4 style="color: black; margin-bottom: 0;">January 18th 1992</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">School / Faculty </h6>
              <h4 style="color: black; margin-bottom: 0;">Central Business School</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Department </h6>
              <h4 style="color: black; margin-bottom: 0;">Human Resource Management</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Email </h6>
              <h4 style="color: black; margin-bottom: 0;">lebronjames18@gmail.com</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Telephone </h6>
              <h4 style="color: black; margin-bottom: 0;">0557025163</h4>
            </div>
            <div class="col">
              <h6 class="text-muted">Hall of Residence </h6>
              <h4 style="color: black; margin-bottom: 0;">Integrity</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Nationality </h6>
              <h4 style="color: black; margin-bottom: 0;">Ghanaian</h4>
            </div>
            <div class="col">
              <h6 class="text-muted">Year Completed </h6>
              <h4 style="color: black; margin-bottom: 0;">2022</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Home Address </h6>
              <h4 style="color: black; margin-bottom: 0;">Ohene's lane Lapaz, Accra</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Current Place of Work </h6>
              <h4 style="color: black; margin-bottom: 0;">Central University</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Position at Current Place of Work </h6>
              <h4 style="color: black; margin-bottom: 0;">Vice Chancellor </h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Marital Status </h6>
              <h4 style="color: black; margin-bottom: 0;">Single</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Guardian </h6>
              <h4 style="color: black; margin-bottom: 0;">Mother</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Next of Kin </h6>
              <h4 style="color: black; margin-bottom: 0;">Stepth Curry</h4>
            </div>
        </div>
      </div>
      <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Relationship with Next of Kin </h6>
              <h4 style="color: black; margin-bottom: 0;">Brother</h4>
            </div>
        </div>
      </div>
      
      
    </div>
</div>






{% endblock body %}







