{% extends 'layout.html' %}
{% block body %}

<div class="row">

    {%for user in users%} 

      <div class="department-item" data-aos="fade-down-left">
        <a href="{{url_for("list", userid=user.id)}}" style="text-decoration: none; color: #992621;">
          <h4 class="names"><b> {{user.fullname}}</h4><!--<a href="/delete/{{user.id}}"class="btn"><i class="fa fa-trash" aria-hidden="true">delete</i>  </i></a>-->
          <h6 class="text-muted">{{user.indexnumber}}</h6>
      </a>
      </div>

    {% endfor %}  
  
  </div>
    </div>




{% endblock body %}







