<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="venue.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>
  <body>
   {% with message = get_flashed_messages%}
   {%if messages%}
   {%for message in messages%}
   {{message}}
   {%endfor%}
   {%endif%}
   {%endwith%}
    <nav class="navbar">
   <img src="https://www.central.edu.gh/virgin/images/Central-Uni-logo.png" class="logo">
    </nav>

    <div class="login-box">
  <h2>Login</h2>

  <form action="" method="POST", "GET">
    <div class="user-box">
      <input type="text" name="username" required="" placeholder="username">
      
    </div>

    <div class="user-box">
      <input type="password" name="password" required="" placeholder="password">
      
    </div>


    <button type="submit" <a href="#">
      Submit
    </a></button
        
         
   

  </form>
</div>



  <div class="icon-1">
  <a href=""> <i class="bi bi-envelope-exclamation-fill"></i></a>
  </div>


</body>
</html>
