{% extends 'base.html' %}

{% block body %}

<div class="table-middle">
    <h1 class="table-head" >All Members</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Lastname</th>
                <th>Othername</th>
                <th>Gender</th>
                <th>Name of School</th>
                <th>Primary Contact</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="lname"><span>Softlife</span></td>
                <td data-label="oname"><span>Kojo</span></td>
                <td data-label="gender"><span>Male</span></td>
                <td data-label="NoS"><span>Central Business School</span></td>
                <td data-label="pcontact"><span>0504488484</span></td>
                <td data-label="#"><a href="#" class="btn"> Review</a></td>
            </tr>
            {% for person in persons %}
            
            <tr>
                <td data-label="lname"><span>{{person.name}}</span></td>
                <td data-label="oname"><span>Kojo</span></td>
                <td data-label="gender"><span>{{person.gender}}</span></td>
                <td data-label="NoS"><span>Central Business School</span></td>
                <td data-label="pcontact"><span>{{person.primarycontact}}</span></td>
                <td data-label="#"><a href="#" class="btn"> Review</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
        
    </table>
    
    <div class="text-center">
        <button type="submit">Load More</button>
      </div>
    
</div>




{% endblock body %}