{% extends 'base.html' %}
{% block body %}
     
<script>
    function passvalues(){
        var lastname=document.getElementById("lname").value;
        localStorage.setItem("textvalue", lastname);
        return false;
    }
</script>

        <div class="middle">
            <div class="middle-text">
                <h1 style="margin: 5px 0 6px 5px;">Create New Alumni. </h1>
                <h5 style="color: #992621; margin-left: 5px; "> Personal Details</h5>
            </div>
            
            <form action="" class="from-groups">
                {{form.hidden_tag()}}
                 
                <div class="row">
        
                    <div class="input-group">
                        
                        {{form.lastname(class="input-group", placeholder="Lastname", id="lname")}}

                     <label for="name"></label>
                    </div>   
                      
                       
                <input type="file" placeholder="Picture">
    
                    <button  type="submit" value="Submit" onclick="passvalues();">
                        <span class="btnText">Submit</span>
                        <i class='bx bxs-chevrons-right icon'></i>
                   </button>
                 
                
                
               </div>
               

               <!--second form-->
               
        
            </form>
        
        </div>




     
{% endblock body %}