{% extends 'layout.html' %}
{% block body %}

<h4 ><b>School / Faculty</b></h4>

<br>
<div class="row" style="justify-content: space-between;">
    <a href="/department" class="col-md-4 " style="text-decoration: none;">
      <div class="dashboard-item" data-aos="fade-up" style="display: flex; padding: 35px;">
        <h6 style="color: #992621;">FACULTY OF ARTS AND SOCIAL SCIENCES</h6>
        <img src="static/img/memoji.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;">
      </div>
    </a>

    <a href="/department" class="col-md-4" style="text-decoration: none;">
      <div class="dashboard-item" data-aos="flip-up" data-aos-delay="300" style="display: flex; padding: 35px;">
        <h6 style="color: #992621;">SCHOOL OF ENGINEERING AND TECHNOLOGY</h6>
        <img src="static/img/memoji.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;"> 
      </div>
    </a>

    <a href="/department" class="col-md-4" style="text-decoration: none;">
        <div class="dashboard-item" data-aos="fade-up-left" data-aos-delay="600" style="display: flex; padding: 35px;">
          <h6 style="color: #992621;">SCHOOL OF MEDICINE AND HEALTH SCIENCES</h6>
          <img src="static/img/memoji.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;"> 
        </div>
    </a>
</div>

<div class="row" style="justify-content: space-between;">
    <a href="/department" class="col-md-4" style="text-decoration: none;">
        <div class="dashboard-item" data-aos="zoom-in-right" style="display: flex; padding: 35px;">
          <h6 style="color: #992621;">SCHOOL OF ARCHITECTURE AND DESIGN</h6>
          <img src="static/img/memoji.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;"> 
          
        </div>
        
    </a>
    
    <a href="/department" class="col-md-4" style="text-decoration: none;">
        <div class="dashboard-item" data-aos="zoom-out-up" data-aos-delay="300" style="display: flex; padding: 35px;">
          <h6 style="color: #992621;">SCHOOL OF PHARMACY</h6>
          <img src="static/img/memoji.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;"> 
        </div>
    </a>
    
    <a href="/department" class="col-md-4" style="text-decoration: none;">
      <div class="dashboard-item" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-delay="600" style="display: flex; padding: 35px;">
        <h6 style="color: #992621;">CENTRAL BUSINESS SCHOOL</h6>
        <img src="static/img/memoji.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;">  
      </div>
    </a>
</div>
<div class="row" style="justify-content: space-between;">
    <a href="/department" class="col-md-4" style="text-decoration: none;">
      <div class="dashboard-item" data-aos="zoom-out-down" style="display: flex; padding: 35px;">
        <h6 style="color: #992621;">FACULTY OF LAW</h6>
        <img src="static/img/memoji.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;">  
      </div>
    </a>
    
    
</div>






{% endblock body %}








