<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

   
  
    
          <h1 class="title">
            WELCOME TO YOUR PROFILE DASHBOARD
          </h1>
              
    {%for newentry in persons%}
    <h4>{{newentry.name}} {{newentry.age}} {{newentry.gender}}<a href="/update/{{newentry.id}}" class="btn btn-outline-secondary btn-sm">update</a>
       <a href="/delete/{{newentry.id}}" class="btn btn-outline-danger btn-sm">delete</a></h4>
    {%endfor%}
          
          
  </body>
</html>