{% extends 'base.html' %}
{% block body %}

<h1>Schools</h1>

  <div class="inner-content" >
    
    <div class="cards" style="background: #fff;">
      <div class="card">
        <h4>School :</h4>
        <h2>FACULTY OF ARTS AND SOCIAL SCIENCES</h2>
      </div>
      <div class="card-image">
        <img  src="https://www.shareicon.net/data/512x512/2016/05/24/770137_man_512x512.png">
      </div>
      
    </div>
    <div class="cards" style="background: #fff;">
      <div class="card">
        <h4>School :</h4>
        <h2>CENTRAL BUSINESS SCHOOL</h2>
      </div>
      <div class="card-image">
        <img  src="https://www.shareicon.net/data/512x512/2016/05/24/770137_man_512x512.png">
      </div>
      
    </div>
    <div class="cards" style="background: #fff">
      <div class="card">
        <h4>School :</h4>
        <h2>SCHOOL OF PHARMACY</h2>
      </div>
      <div class="card-image">
        <img  src="https://www.shareicon.net/data/512x512/2016/05/24/770137_man_512x512.png">
      </div>
      
    </div>
    <div class="cards" style="background: #fff">
      <div class="card">
        <h4>School :</h4>
        <h2>SCHOOL OF ARCHITECTURE AND DESIGN</h2>
      </div>
      <div class="card-image">
        <img  src="https://www.shareicon.net/data/512x512/2016/05/24/770137_man_512x512.png">
      </div>
      
    </div>
    <div class="cards" style="background: #fff">
      <div class="card">
        <h4>School :</h4>
        <h2>SCHOOL OF ENGINEERING AND TECHNOLOGY</h2>
      </div>
      <div class="card-image">
        <img  src="https://www.shareicon.net/data/512x512/2016/05/24/770137_man_512x512.png">
      </div>
      
    </div>
    <div class="cards" style="background: #fff">
      <div class="card">
        <h4>School :</h4>
        <h2>FACULTY OF LAW</h2>
      </div>
      <div class="card-image">
        <img  src="https://www.shareicon.net/data/512x512/2016/05/24/770137_man_512x512.png">
      </div>
      
    </div>
    <div class="cards" style="background: #fff">
      <div class="card">
        <h4>School:</h4>
        <h2>SCHOOL OF MEDICINE AND HEALTH SCIENCES</h2>
      </div>
      <div class="card-image">
        <img src="https://www.shareicon.net/data/512x512/2016/05/24/770137_man_512x512.png">
      </div>
      
    </div>
    

    
  </div>

  




{% endblock body %}







