{% extends 'userlayout.html' %}

{% block body %}

    <div container style="align-items: left;">
      <div style="background: #fff; border-radius: 5px; padding: 20px;">
        <div class="top">
          <h4><b> {{profile.fullname}}</b></h4>
        </div>
        <div class="down" style=" display: flex; grid-gap: 2px; justify-content: space-between; ">
          <h6 style="color: black;"> {{profile.email}}</h6>
          
        </div>
        <div class="down" style=" display: flex; grid-gap: 2px; justify-content: space-between;  ">
          <h6 style="color: black;"> {{profile.telephone}}</h6>
          
        </div>
       
        <div class="info" style="margin-top: 2vh; text-align: center;">
          <div>
             <div class="info-more">
      <div class="row">
          <div class="col">
            <h6 class="text-muted">Picture </h6>
            <img style="width: 100%; margin-bottom: 10px; margin: auto;" src="{{profile.image_file}}">
            <h4 style="color: black; margin-bottom: 0;">{{profile.image_file}}</h4>
          </div>
      </div>
    </div>
            {% if profile.image_file %}
            {{profile.image_file}}
            {% else %}
            <img src="static/img/memoji.png" alt="" style="width: 50%; background: #992621; border-radius: 50%;" > 
            {% endif %}
               
            <p style="text-align: left;" class="text-muted">Index Number</p> 
            <h6 style="text-align: left;"> {{profile.indexnumber}}</h6> 
          </div>
        
          <div class="info-details" style=" margin-top: 2vh;">
            <p style="text-align: left;">
              <p style="text-align: left;" class="text-muted">Bio</p> 
              <h6 style="text-align: left;"> {{profile.extra}}</h6>
                     </p>
          </div>
          <br>

          
            <div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
                <div>
                  <p style="text-align: left;" class="text-muted">Marital Status</p> 
                  <h6 style="text-align: left;"> {{profile.marital}}</h6> 
                </div>
            </div>
            <div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
              <div>
                <p style="text-align: left;" class="text-muted">Place of Work</p> 
                <h6 style="text-align: left;"> {{profile.work}}</h6> 
              </div>
          </div>
          <div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
            <div>
              <p style="text-align: left;" class="text-muted">Position</p> 
              <h6 style="text-align: left;"> {{profile.guardian}}</h6> 
            </div>
        </div>
        <div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
          <div>
            <p style="text-align: left;" class="text-muted">Nationality</p> 
            <h6 style="text-align: left;"> {{profile.nationality}}</h6> 
            
          </div>
      </div>
  <div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
    <div>
      <p style="text-align: left;" class="text-muted">Home Address</p> 
      <h6 style="text-align: left;"> {{profile.address}}</h6> 
    </div>
</div>
<div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
  <div>
    <p style="text-align: left;" class="text-muted">Year Completed</p> 
    <h6 style="text-align: left;"> {{profile.completed}}</h6> 
  </div>
</div>
<div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
  <div>
    <p style="text-align: left;" class="text-muted">Year Admitted</p> 
    <h6 style="text-align: left;"> {{profile.admitted}}</h6> 
  </div>
</div>
<div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
  <div>
    <p style="text-align: left;" class="text-muted">School/Faculty</p> 
    <h6 style="text-align: left;"> {{profile.school}}</h6> 
  </div>
</div> 

<div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
  <div>
    <p style="text-align: left;" class="text-muted">Department</p> 
    <h6 style="text-align: left;"> {{profile.department}}</h6> 
  </div>
</div>
<div class="user-profile-text" style="border-bottom: 3px solid #f2f2f2;">
  <div>
    <p style="text-align: left;" class="text-muted">Hall of Residence</p> 
    <h6 style="text-align: left;"> {{profile.hall}}</h6> 
  </div>
</div>         
          
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"style="width: 90%; background: #992621; color: #fff; padding: 12px 20px; font-weight: 300; border: none; border-radius: 10px; font-weight: bold;" data-bs-target="#staticBackdrop">
  Connnect Now
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
   
      <div class="modal-body">
       <!--instagram-->
        <div style="display: flex; border-bottom: 3px solid #f2f2f2;">
          <div class="user-pic" style="padding-right: 10px;">
              <img src="static/img/memoji.png" style="border-radius:10px;" >
          </div>
          <div class="user-text" style="display: flex; justify-content: space-between; width: 100%; margin-top: 15px;">
                  <div>
                       <h5 class="nams"><b>Phone Number</h5>
                      <h6 class="text-muted">{{profile.telephone}}</h6><br>
                  </div>  
          </div>
              
        </div>
         
        <!--facebook-->
        <div style="display: flex; border-bottom: 3px solid #f2f2f2;">
          <div class="user-pic" style="padding-right: 10px;">
              <img src="static/img/memoji.png" style="border-radius:10px; margin-top:20px;" >
          </div>
          <div class="user-text" style="display: flex; justify-content: space-between; width: 100%; margin-top: 15px;">
                  <div>
                       <h5 class="nams" style=" margin-top:15px;"><b>Phone Number</h5>
                      <h6 class="text-muted">{{profile.telephone}}</h6><br>
                  </div>  
          </div>
              
        </div>  

           
        <!--twitter-->
        <div style="display: flex; border-bottom: 3px solid #f2f2f2;">
          <div class="user-pic" style="padding-right: 10px;">
              <img src="static/img/memoji.png" style="border-radius:10px; margin-top:20px;" >
          </div>
          <div class="user-text" style="display: flex; justify-content: space-between; width: 100%; margin-top: 15px;">
                  <div>
                       <h5 class="nams" style=" margin-top:15px;"><b>Phone Number</h5>
                      <h6 class="text-muted">{{profile.telephone}}</h6><br>
                  </div>  
          </div>
              
        </div>  

           
        <!--Linkedin-->
        <div style="display: flex; border-bottom: 3px solid #f2f2f2;">
          <div class="user-pic" style="padding-right: 10px;">
              <img src="static/img/memoji.png" style="border-radius:10px; margin-top:20px;" >
          </div>
          <div class="user-text" style="display: flex; justify-content: space-between; width: 100%; margin-top: 15px;">
                  <div>
                       <h5 class="nams" style=" margin-top:15px;"><b>Phone Number</h5>
                      <h6 class="text-muted">{{profile.telephone}}</h6><br>
                  </div>  
          </div>
              
        </div>  
           
        <!--whatsapp-->
        <div style="display: flex; border-bottom: 3px solid #f2f2f2;">
          <div class="user-pic" style="padding-right: 10px;">
              <img src="static/img/memoji.png" style="border-radius:10px; margin-top:20px;" >
          </div>
          <div class="user-text" style="display: flex; justify-content: space-between; width: 100%; margin-top: 15px;">
                  <div>
                       <h5 class="nams" style=" margin-top:15px;"><b>Phone Number</h5>
                      <h6 class="text-muted">{{profile.telephone}}</h6><br>
                  </div>  
          </div>
              
        </div>  

      
     
    </div>
  </div>
</div>
      </div>
    </div>
    </div>


    {%endblock body%}
    
    
