{% extends 'userlayout.html' %}
{% block body %}
<div style="display: flex; border-bottom: 3px solid #f2f2f2;">
  <div class="user-pic" style="padding-right: 10px;">
      <img src="static/img/memoji.png" >
  </div>
  <div class="user-text">
      <div>
          <a href="/userschool" style="text-decoration: none;">
              <h4>School of Engineering and Technology </h4>
          </a>
          <h6 class="text-muted">200 Graduates</h6>
      </div>
      <div>
          <i class='bx bx-dots-vertical-rounded bx-sm icon'></i>
      </div>
  </div>
</div>


{% endblock body %}
