
{% extends 'userlayout.html' %}

{% block body %}
    <div container style="align-items: left;">
      <div style="background: #fff; border-radius: 5px; padding: 20px;">
        <div class="top">
          
        </div>
        <div class="down" style=" display: flex; grid-gap: 2px; justify-content: space-between; ">
          
        </div>
        <div class="info" style="margin-top: 2vh; text-align: center;">
          <div>
             
<h4>Complete your form</h4>
<p class="text-muted" style="margin-bottom: 0;">Please fill in this form :</p>
<br>
<form action='' method="post" enctype="multipart/form-data">

  {{form.hidden_tag()}}




  

  <div class="form-floating mb-3">
    {{form.indexnumber(class="form-control",placeholder="INT/19/01/5837",id="floatingInput" )}}
    <label for="floatingInput" class="text-muted">Index Number</label>
  </div>


    <div class="form-floating mb-3">
      {{form.gender(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
      <label for="floatingInput" class="text-muted">Gender</label>
    </div>
    
  <div class="form-floating mb-3">
    {{form.school(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">School / Faculty</label>
  </div>

  <div class="form-floating mb-3">
    {{form.department(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Department</label>
  </div>

  <div class="form-floating mb-3">
    {{form.program(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Program</label>
  </div>

  <div class="form-floating mb-3">
    {{form.yearCompleted(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Year Completed</label>
  </div> 



  <div class="form-floating mb-3">
    {{form.admitted(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Year Admitted</label>
  </div>

  <div class="form-floating mb-3">
    {{form.email(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">E-mail</label>
  </div>

  <div class="form-floating mb-3">
    {{form.contact(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Telephone</label>
  </div>

  <div class="form-floating mb-3">
    {{form.hallofresidence(class="form-control",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Hall of Residence</label>
  </div>

  <div class="form-floating mb-3">
    {{form.nationality(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Nationality</label>
  </div>

  <div class="form-floating mb-3">
    {{form.address(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Home Address</label>
  </div>

  <div class="form-floating mb-3">
    {{form.work(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Current Place of Work</label>
  </div>

  <div class="form-floating mb-3">
    {{form.guardian(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Current Position</label>
  </div>



  <div class="form-floating mb-3">
    {{form.marital(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Marital Status</label>
  </div>

  

  <div class="form-floating mb-3">
    {{form.extra(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Extra Curicullum Activities</label>
  </div>

  

  





  <button class="btn" style="color: #fff; background: #992621; border: none;" type="submit ">Register</button>
              
</form>




    
    
    {%endblock body%}

