{% extends 'userlayout.html' %}
{% block body %}


{% for item in items %}

<div style="display: flex; border-bottom: 3px solid #f2f2f2; padding: 10px;">
  <div class="user-pic" style="padding-right: 10px;">
      <img style="background-color: rgb(218, 107, 51); border-radius:50%" src="static/img/memoji.png" >
  </div>
  <div class="user-text">
      <div>
        <a href="{{url_for("alumni", program=item.slug)}}" style="text-decoration: none;">
            <h4>{{item.name}} </h4>
        </a>
          <h6 class="text-muted">201 departments{{item.id}}</h6>
      </div>
      <div>
          <i class='bx bx-dots-vertical-rounded bx-sm icon'></i>
      </div>
  </div>
</div>
{% endfor %}



{% endblock body %}
