{% extends 'userlayout.html' %}

{% block body %}




<div class="row" style="text-align: center; margin: auto;">
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/allschools" style="text-decoration: none;">
        <h1 class="user-box-items" style="margin-bottom: 3vh; font-weight: bold;">2022</h1>
      </a>
        <h6 class="text-muted">1248 Graduates</h6> 
    </div>
  </div>
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/usernewform" style="text-decoration: none;">
        <h1 class="user-box-items" style="margin-bottom: 3vh; font-weight: bold;">2021</h1>
      </a>
        <h6 class="text-muted">3000 Graduates</h6> 
    </div>
  </div>
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/usernewform" style="text-decoration: none;">
        <h1 class="user-box-items" style="margin-bottom: 3vh; font-weight: bold;">2020</h1>
      </a>
        <h6 class="text-muted">2465 Graduates</h6> 
    </div>
  </div>
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/usernewform" style="text-decoration: none;">
        <h1 class="user-box-items" style="margin-bottom: 3vh; font-weight: bold;">2019</h1>
      </a>
        <h6 class="text-muted">1002 Graduates</h6> 
    </div>
  </div>
  
</div>

{% endblock body %}























