{% extends 'layout.html' %}
{% block body %}

<h4><b>Year Groups</b></h4>
<br>
<div class="row" style="justify-content: space-between;">
  <div class="col-md-4 ">
    <div class="dashboard-item" data-aos="fade-up">
        <p class="text-muted">Year</p>
        <a href="/list" style="text-decoration: none;"><h4 class="dashboard-item-text" ><b>2022</b></h4></a>
    </div>
  </div>
  <div class="col-md-4" >
    <div class="dashboard-item" data-aos="fade-up" data-aos-delay="500" >
        <p class="text-muted">Year</p>
        <a href="/list" style="text-decoration: none;"><h4 class="dashboard-item-text" ><b>2021</b></h4></a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dashboard-item" data-aos="fade-up" data-aos-delay="1000">
        <p class="text-muted">Year</p>
        <a href="/list" style="text-decoration: none;"><h4 class="dashboard-item-text" ><b>2020</b></h4></a>
    </div>
  </div>
</div>





{% endblock body %}







